/*Styling of body*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1000px;
    position: relative;
}

/*Styling of h1 text*/
h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

/*Styling of links*/
a {
    color: white;
}

/*Styling of ruler*/
hr {
    border: 1px solid white;
}

/*Styling of navbar on top*/
.navbar {
    width: 100%;
}

/*Styling of unordered list*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: #181818;
    width: 100%;
    top: 0;
    position: fixed;
    float: left;
}

/*Styling of list item*/
li {
    float: left;
    padding-left: 4px;
}

/*Styling of list item link*/
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

/*Styling of image*/
img {
    padding-top: 7px;
    padding-left: 10px;
}

/*Styling of logotext*/
.logotext {
  margin: auto;
  padding-top: 150px;
}

/*Styling of logo img*/
.logotext img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

/*Styling of styling of quote*/
.logotext h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: -5px;

}

/*Styling of ruler under logo*/
.logotext hr {
    width: 42%;
    border-top: 3px solid white;
    margin-top: 20px;
}

/*Styling of scrolldown image*/
.scrolldown img {
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    position: relative;
    z-index: -10;
}

/*Styling of scrolldown image*/
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

/*Styling of scrolldown image*/
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

/*Styling of block with text under qr wall*/
.mainBlock {
    padding-top: 100px;
    width: 80%;
    padding-bottom: 50px;
    margin: 0px auto;
}

/*Styling of picture with qr codes*/
.qrWall  {
    padding-top: 16%;
}

/*Styling of img of qr wall*/
.qrWall img {
    object-fit: cover;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 400px;
    max-width: 100%;
}

/*Styling of ruler qr wall*/
.qrWall hr {
    border: 5px solid white;
    margin: 0;
    padding: 0;
}

/*Styling of ruler qrwall*/
.qrWall .qrWall2 hr {
    border: 6px solid black;
    margin: 0;
    padding-top: 0;
    max-width: 100%;
}

/*Styling of text in mainblock*/
.mainBlock h3 {
    font-size: 30px;
    text-align: justify;
    font-style: italic;
}

/*Styling of text in mainblock*/
.mainBlock h2 {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 4%;
}

/*Styling of button div*/
.buttonBlock    {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

/*Styling of buttons in buttondiv*/
.buttonBlock #button1,#button2,#button3 {
    display:inline-block;
    margin: 10px;
    font-family: lato,sans-serif;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #404040;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 15px;
}

/*Styling of buttons while hovering in buttonblock*/
.buttonBlock #button1,#button2,#button3:hover {
    display:inline-block;
    margin: 10px;
    font-family: lato,sans-serif;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 15px;
}

/*Styling of footer*/
footer{
    min-height:200px;
    background: #181818;
    display:inline-block;
    width: 100%;
}

footer hr{
    border:none;
  border-top:3px dashed white;
  height:3px;
  width:100%;
}

/*Styling of footer img*/
footer img {
    padding-top: 3%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling of footer text*/
footer h3 {
    color: white;
    font-style: italic;
    text-align: center;
    padding-bottom: 2%;
}

.image1 {
    float: right;
    margin: 30px;
    margin-left: 60px;
        box-shadow: 18px 23px 21px -1px #898989;
    margin-top: 170px;

}

.image2 {
   float: right;
    margin: 30px;
    margin-left: 60px;
        box-shadow: 18px 23px 21px -1px #898989;
    margin-top: 200px;

}

.image3 {
    float: right;
    margin: 30px;
    margin-left: 60px;
        box-shadow: 18px 23px 21px -1px #898989;
        margin-top: -10px;


}


