body {
    background: linear-gradient(180deg, black 60%, white 60%);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

a {
    color: white;
}

hr {
    border: 1px solid white;
}

.navbar {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: #181818;
    width: 100%;
    top: 0;
    position: fixed;
    float: left;
}

li {
    float: left;
    padding-left: 4px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}



img {
    padding-top: 7px;
    padding-left: 10px;
}

.logotext {
  margin: auto;
  padding-top: 150px;
}

.logotext img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.logotext h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: -5px;

}

.logotext hr {
    width: 42%;
    border-top: 3px solid white;
    margin-top: 20px;
}

.scrolldown img {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.isis  {
    padding-top: 150px;
    border-radius: 50%;

}

.rightblock {
    margin-top: 200px;
    width:40%;
    background-color: #181818;
    float: right;
    height: 400px;
    margin-right: 65px;
    border: 5px solid white;

}

.leftblock {
    margin-top: 200px;
    width:40%;
    background-color: #181818;
    float: left;
    height: 400px;
    margin-left: 65px;
    border: 5px solid white;

}

.qrWall  {
    padding-top: 16%;

}

.qrWall img {
    object-fit: cover;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 400px;
}

.qrWall hr {
    border: 5px solid white;
    margin: 0;
    padding: 0;
}

.qrWall .qrWall2 hr {
    border: 6px solid black;
    margin: 0;
    padding-top: 0;
}


