<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WhatTheQR</title>
        <link rel="stylesheet" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
     </head>
    <body>
        <!--Static nav bar-->
        <div class="Navbar">
            <ul>
                <li><a href="/"><img src="../static/navlogo.png" alt="Navbar logo" width="55px" lenght="55px"></a></li>
                <div class="vl"></div>
                <li><a href="https://github.com/Arjan14"><img src="../static/github.png" alt="GitHub logo" width="32px" lenght="32px"></a></li>
                <li><a href="https://www.linkedin.com/in/arjan-bakema-826267193/"><img src="../static/linkedin.png" alt="LinkedIn logo" width="32px" lenght="32px"></a></li>
            </ul>
        </div>
        <!--Logo inc text-->
        <div class="logotext">
            <img src="../static/logoBig.png" alt="Logo" width="40%">
            <hr>
            <h2>Duik in de wereld van QR!</h2>
        </div>
        <!--Triangle suggesting to scroll down-->
        <div class="scrolldown">
            <img src="../static/down.png" alt="down" width="50px">
        </div>
        <!--Image or QR codes including hr rulers-->
        <div class="qrWall">
            <hr>
            <img src="../static/qrwall.jpg" alt="hand">
            <div class="qrWall2">
                <hr>
            </div>
        </div>
        <!--Information block "About" QR codes inc. button-->
        <div class="mainBlock">
            <h3>Een QR-Code is geen simpel plaatje, er zit behoorlijk wat diepte in een QR-Code. Doormiddel van deze website probeer ik jullie wat te leren over QR-Codes. Ook heb je de mogelijkheid om zelf QR-Codes te generenen. QR-Codes die je in het wild vind kan je hier ook uploaden als foto!</h3>
        </div>
        <!--Block with buttons that redirect to other pages -->
        <div class="buttonBlock">
               <a href={{url_for('make')}}> <button id="button3">← make</button></a>
               <a href={{url_for('learn')}}> <button id="button3">learn</button></a>
               <a href={{url_for('upload')}}> <button id="button3">upload →</button></a>
        </div>
        <!--Footer with image and text-->
        <footer class="footerDiv">
            <img src="../static/logoSmall2.png" alt="Logo" width="9%">
            <h3>What The QR is mede mogelijk gemaakt door Arjan Bakema</h3>
        </footer>
    </body>
</html>