<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatTheQR</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
 </head>
<body>
    <div class="Navbar">
        <ul>
            <li><a href="/"><img src="../static/navlogo.png" alt="Navbar logo" width="55px" lenght="55px"></a></li>
            <div class="vl"></div>
            <li><a href="https://github.com/Arjan14"><img src="../static/github.png" alt="GitHub logo" width="32px" lenght="32px"></a></li>
            <li><a href="https://www.linkedin.com/in/arjan-bakema-826267193/"><img src="../static/linkedin.png" alt="LinkedIn logo" width="32px" lenght="32px"></a></li>
            <li style="float:right"><img src="../static/burgermenu.png" alt="Burgermenu" width="32px" lenght="32px"></li>
        </ul>
    </div>
//comment
    <div class="logotext">
        <img src="../static/logoBig.png" alt="Logo" width="40%">
        <hr>
        <h2>Dive into the world of QR!</h2>
    </div>

    <div class="scrolldown">
        <img src="../static/down.png" alt="down" width="50px">
    </div>

    <div class="leftblock">

    </div>

    <div class="rightblock">

    </div>

</body>
</html>