<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wat is a QR?</title>
    <link rel="stylesheet" href="../static/stylesheets/learn.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>
     <!--Static nav bar-->
        <div class="Navbar">
            <ul>
                <li><a href="/"><img src="../static/images/navlogo.png" alt="Navbar logo" width="55px" lenght="55px"></a></li>
                <div class="vl"></div>
                <li><a href="https://github.com/Arjan14"><img src="../static/images/github.png" alt="GitHub logo" width="32px" lenght="32px"></a></li>
                <li><a href="https://www.linkedin.com/in/arjan-bakema-826267193/"><img src="../static/images/linkedin.png" alt="LinkedIn logo" width="32px" lenght="32px"></a></li>
            </ul>
        </div>
        <!--Logo inc text-->
<!--Logo inc text-->
    <div class="logotext">
        <img src="../static/images/leerQR.png">
    </div>
    <div class="mainBlock">
                        <img class="image1" src="../static/images/qrinfo2.png" alt="GitHub logo">

        <h2>Wat is een QR-code?</h2>

        <h3>De QR code bestaat al sinds 1994 maar is pas sinds een paar jaar erg populair op flyers, posters en ander drukwerk. Echter is het voor veel mensen nog niet helemaal duidelijk wat een QR code is, wat je met een QR code kunt en hoe je hier goed gebruik van kan maken.</h3>
        <h3>Een QR code is niets anders dan een geavanceerde barcode. QR code staat voor 'Quick Response' code. Het grote verschil tussen een normale barcode en een QR code is dat bij het aanmaken van een QR code de gebruiker een keuze kan maken wat er moet gebeuren zodra de QR code gescand wordt. Daarbij kan er in een QR code veel meer informatie opgeslagen worden dan een traditionele barcode. Een QR code is dus echt gericht op marketingdoeleinden. Een QR code is gratis en kan door iedereen aangevraagd worden. </h3>
        <h2>Hoe werkt een QR-code?</h2>
                <img class="image2" src="../static/images/qrinfo1.png" alt="GitHub logo">

        <h3>Iedereen met een smartphone of een tablet kan een programma downloaden waarmee ze een QR code kunnen scannen. Deze programma's worden QR readers genoemd. Vele van deze programma's zijn gratis en kunnen gemakkelijk gedownload worden. Het enige wat de gebruiker hoeft te doen is de camera van de smartphone of tablet te richten op de QR code om deze te scannen. Voor sommige mogelijkheden van de QR code is een actieve internetverbinding vereist. </h3>
        <h2>Hoe werkt de techniek achter een QR code?</h2>
        <h3>De techniek achter een QR code is erg ingewikkeld. De drie blokken in de hoeken laat de QR code scanner duidelijk weten dat het gaat om een QR code en geeft ook de dimensies (breedte en hoogte) aan van de QR code, zodat de scanner weet welk gedeelte gelezen/gescand moet worden. Rondom deze drie blokken word informatiegegeven over hoe groot het formaat is. (zie gedetailleerde informatie over format) Naast nog wat extra positiepunten word de rest van de QR code gebruikt voor de informatie.</h3>
        <h2>Hoe groot moet een QR-code zijn?</h2>
                <img class="image3" src="../static/images/qrinfo3.png" alt="GitHub logo">

        <h3>De hoeveelheid blokjes is afhankelijk van de hoeveelheid informatie die opgeslagen wordt in de QR code. Contactgegevens hebben bijvoorbeeld veel meer blokjes nodig dan een URL. Daarnaast heeft de hoeveelheid blokjes ook invloed op de minimale grootte van de QR code. Hoe meer informatie er wordt opgeslagen des te groter de QR code moet worden weergegeven om goed gescand te kunnen worden. </h3>
        <h3>Ervaring heeft ons geleerd dat een QR code op bijvoorbeeld een visitekaartje, flyer of folder minimaal 2 cm breed en hoog moet zijn. De scanafstand is een stuk kleiner waardoor de QR code kleiner kan blijven. Echter indien er veel informatie wordt opgeslagen in de QR code testen wij altijd even door een printje te maken. Soms kan 3cm of zelf 4cm wenselijk zijn. </h3>

    </div>


        <div class="mainBlock">
        </div>

        <!--Footer with image and text-->
        <footer>
            <hr>
            <img src="../static/images/logoSmall2.png" alt="Logo" width="9%">
            <h3>What The QR is mogelijk gemaakt door Arjan Bakema</h3>
        </footer>
</body>
</html>